@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
body {
  font-family: "Prompt", sans-serif;
}
li {
  list-style: none;
}
#root {
  padding: 80px 48px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#111112 1px, transparent 1px),
    linear-gradient(to right, #111112 1px, transparent 1px);
  background-size: 32px 32px;
  background-color: #030303;
  height: 100vh;
}
.App {
  padding: 96px 24px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  width: 1024px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.07);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.addForm--box {
  margin: 0 0 24px 0;
  display: flex;
}
.add--form {
  background: transparent;
  color: aliceblue;
  padding: 8px 4px;
  font-size: 16px;
  outline: 1px solid rgba(255, 255, 255, 0.31);
  margin: 0 16px 0 0;
  width: 100%;
}
.add--btn {
  color: #ffffff;
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  width: 40%;
}
.add--btn:hover {
  box-shadow: 1px 4px 12px rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}
.single--task {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0 0 24px 0;
  width: 100%;
  padding: 16px 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
input[type="checkbox"] {
  height: 24px;
  width: 24px;
}

.task--name {
  color: #ffffff;
  font-size: 18px;
  word-wrap: break-word;
  width: 768px;
  padding: 0 0 0 24px;
  text-align: left;
  font-weight: 300;
}
.btn--box {
  margin: 0 0 0 auto;
}
.edit--btn {
  background: transparent;
  display: inline-flex;
  margin: 0 12px 0 0;
  border: none;
}
.edit--btn span {
  font-size: 32px;
  color: aliceblue;
  padding: 8px 6px 0 6px;
}
.delete--btn {
  background: transparent;
  display: inline-flex;
  border: none;
}
.delete--btn span {
  font-size: 32px;
  color: #fa1f02;
  padding: 8px 6px 0 6px;
}
.update--btn {
  color: #ffffff;
  padding: 8px 12px;
  background: rgba(70, 7, 242, 0.1);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.31);
  font-size: 16px;
}
input[type="text"] {
  font-size: 16px;
}
.edit--form {
  width: 80%;
  color: #ffffff;
  padding: 8px 4px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.31);
}

@media (max-width: 1058px) {
  .App {
    padding: 16px 8px;
    width: 768px;
  }
  .task--name {
    font-size: 18px;
    max-width: 480px;
  }
}
@media (max-width: 826px) {
  #root {
    padding: 90px 8px;
  }
  .App {
    padding: 96px 8px;
    width: 576px;
  }
  .task--name {
    font-size: 16px;
    max-width: 320px;
    padding: 0 0 0 12px;
  }
}
@media (max-width: 566px) {
  .add--btn {
    padding: 6px 8px;
  }
  #root {
    padding: 90px 8px;
  }
  .App {
    padding: 96px 8px;
    width: 450px;
  }
  .task--name {
    font-size: 16px;
    max-width: 280px;
    padding: 0 0 0 12px;
  }
  .btn--box {
    display: flex;
  }
}
@media (max-width: 454px) {
  .add--btn {
    padding: 6px 8px;
  }
  #root {
    padding: 90px 8px;
  }
  .App {
    padding: 96px 8px;
    width: 315px;
  }
  .addForm--box {
    flex-wrap: wrap;
    margin: 0 0 48px 0;
    justify-content: center;
  }
  .add--btn {
    width: 95%;
    margin: 12px 0 0 0;
    padding: 12px 16px;
  }
  .add--form {
    width: 100%;
    margin: 0 0 0 8px;
  }
  .single--task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 24px 0;
    width: 100%;
    padding: 16px 8px;
  }
  .task--name {
    max-width: 200px;
  }
  .edit--btn {
    background: transparent;
    display: inline-flex;
    margin: 0 6px 0 0;
  }
  .edit--btn span {
    font-size: 16px;
    color: aliceblue;
    padding: 8px 1.5px 0 1.5px;
  }
  .delete--btn {
    background: transparent;
    display: inline-flex;
  }
  .delete--btn span {
    font-size: 16px;
    color: #fa1f02;
    padding: 8px 1.5px 0 1.5px;
  }
  .edit--form {
    width: 100%;
    margin: 0 0 8px 0;
  }
  .update--btn {
    width: 100%;
  }
}
